.logo {
 	width: 42px;
 	height: 42;
 	border-radius: 100px;
 	box-shadow: black;
 	margin: 10px;
 }

 header {
 	height: 10vh;
 	display: flex;
 	justify-content: space-between;
 	background-color: #ffa000;
 	box-shadow: 0 0 1rem black;
 }

 ul {
 	display: flex;
 	margin: 23px;
 }

li {
	color: whitesmoke;
	list-style-type: none;
	cursor: pointer;
	padding-left: 2rem;

}

#pizza_pedaco {
	width: 42px;
 	height: 42px;
 	box-shadow: black;
 	margin: 0px;
}

html{
	background: #DF9D00;
	font-family: 'Fredoka One', cursive;
}

header {
 	height: 10vh;
 	display: flex;
 	justify-content: space-between;
 	background-color: #ffa000;
 	box-shadow: 0 0 1rem black;
 }

  body{
 	margin: 0 ;
 }

 * {
 	padding: 0;
 	margin: 0;
 }

 a {
 	text-decoration: none;
 }

 #container-0 {
 	width: 600px;
 	height: 600px;
 	background-color: #b27e00;
 	top: 100px;
 	left: 350px;
 	position: absolute;
 	box-shadow: 0 0 1rem black;
 	border-radius: 30px;
 }

p {
	text-align: center;
	font-size: 20px;
}

.pizza {
    width: 0px;
    position: absolute;
}

@media screen and (max-width: 600px) {
    #container-0 {
    width: 300px;
    height: 1100px;
    background-color: #b27e00;
    top: 100px;
    left: 70px;
    position: absolute;
    box-shadow: 0 0 1rem black;
    border-radius: 30px;
 }

p {
    text-align: center;
    font-size: 20px;
}

}